@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Gray-50: hsl(0, 0%, 98%);
    --Gray-500: hsl(0, 0%, 41%);
    --Gray-950: hsl(0, 0%, 8%);
}

body {
    height: 100%;
    font-family: "Epilogue", sans-serif;
    background-color: var(--Gray-50);
    position: relative;
}

li,
button {
    cursor: pointer;
}

p {
    font-size: 18px;
    font-weight: 500;
    color: var(--Gray-500);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav_list {
    display: none;
    position: absolute;
    background-color: var(--Gray-50);
    height: 100%;
    top: 0;
    right: 0;
}

.show {
    display: block;
    width: 50%;
    padding: 1rem;
}

.close {
    width: 20px;
    display: flex;
    justify-self: flex-end;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 0.5rem;
}

.up1,
.up2 {
    display: none;
}

.vis {
    display: inline;
}

.hide {
    display: none;
}

.dropdown1,
.dropdown2 {
    display: none;
    margin: 1rem;
}

.visible {
    display: block;
}

br {
    display: none;
}

.mobile {
    width: 100%;
}

.desktop {
    display: none;
}

a {
    color: var(--Gray-500);
    display: flex;
    justify-self: center;
    text-decoration: none;
    margin-top: 2rem;
}



nav button {
    width: 100%;
    color: var(--Gray-500);
    margin-top: 1rem;
    background: none;
    padding: 0.5rem 0;
    border-radius: 8px;
    border: 2px solid var(--Gray-500);
}

main {
    text-align: center;
    margin-top: 1rem;
}

.content {
    padding: 0 1rem;
}

h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

main button {
    color: var(--Gray-50);
    background-color: var(--Gray-950);
    border-radius: 14px;
    border: 2px solid var(--Gray-950);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
}

main button:hover {
    color: var(--Gray-950);
    background: none;
    border: 2px solid var(--Gray-500);
}

.clients {
    display: flex;
    justify-content: space-between;
}

.clients img {
    width: 60px;
}

@media (min-width:1024px) {
    nav {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .list {
        margin-right: 1rem;
    }

    .nav_list {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: initial;
        align-items: center;
        margin-left: 3rem;
    }

    br {
        display: block;
    }

    .contain {
        position: relative;
    }

    .nav-item {
        display: flex;
        column-gap: 10px;
    }

    nav button {
        padding: 0.5rem 1rem;
    }

    .nav_end {
        align-items: center;
    }

    .close,
    .menu {
        display: none;
    }

    .mobile {
        display: none;
    }

    main {
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        column-gap: 1rem;
        padding: 0 10rem;
        position: relative;
    }
.content {
    margin-top: 80px;
}
    a,
    nav button {
        margin: 0;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    p {
        width: 480px;
        margin-bottom: 1.5rem;
    }

    .desktop {
        display: block;
        height: 80vh;
    }

    .nav_end {
        display: flex;
        column-gap: 0.5rem;
    }

    .dropdown1 {
        width: 150px;
        background-color: var(--Gray-50);
        position: absolute;
        padding: 1rem 1rem;
        margin: 1.5rem 0 0 0;
        left: -5rem;
        border-radius: 10px;
    }

    .dropdown2 {
        background-color: var(--Gray-50);
        position: absolute;
        padding: 1rem 1.5rem;
        margin: 1.5rem 0 0 0;
        border-radius: 10px;
    }

    main button {
        margin-bottom: 20%;
    }
}